# PRINT

In [1]:
print('Ini Kelas Algoritma!')

Ini Kelas Algoritma!

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [3]:
print("You Are Beautiful")

You Are Beautiful

In [6]:
print("She's So skinny")

She's So skinny

In [7]:
mahasiswa = 25
uang_di_dompet =20000
print(mahasiswa)
print(mahasiswa*uang_di_dompet)

25
500000

In [10]:
nama_depan = 'Nastria'
nama_tengah = ' '
nama_belakang = "Pasaribu"
print(nama_depan + nama_tengah + nama_belakang)

Nastria Pasaribu

In [1]:
nama = input("Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama +"? ")
print("Semangat "+ kegiatan +"nya yah, " + nama +"!")

Siapakah nama anda? nast
Apakah kegiatan anda sekarang, nast? belajar algo
Semangat belajar algonya yah, nast!

In [ ]:
uang_ke_mall = input("Berapakah jumlah uang ke mall anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
print("Total uang anda adalah Rp " + uang_ke_mall + uang_di_Bank)

# Formatted string

In [ ]:
bilangan_satu =input("Masukkan bilangan pertama: ")
bilangan_kedua =input("Masukkan bilangan kedua: ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("jumlah kedua bilangan adalah"+ str(jumlah))

Masukkan bilangan pertama: 3
Masukkan bilangan kedua: 5
Jumlah kedua bilangan adalah 8.0

In [ ]:
nama = "Fransiska"
pekerjaan = "pengusaha"
institusi = "PT philips"
print(nama + "adalah seorang "" + pekerjaan + "" di "" + institusi +'.')

In [ ]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}. ')

In [ ]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}."")

# string index

In [ ]:
kelas = 'ini kelas algoritma'

In [ ]:
print(kelas[0;3])

In [ ]:
print(kelas[0:-1]

In [ ]:
print(kelas[5:-1])

In [ ]:
print(kelas[2:-1:3])

In [ ]:
print(kelas[:-3])

In [ ]:
print(kelas[1:])

# string methods

In [3]:
judul = 'Bali Surga Dunia'

In [4]:
print(len(judul))

16

In [ ]:
judul.upper()

In [ ]:
judul.lower()

In [ ]:
judul.find('surga')

In [ ]:
judul.find('Bali')

In [ ]:
judul.replace('Bali', 'Indonesia')

In [ ]:
print('Bali' in judul)

In [ ]:
print('bali' in judul)

# matematika di python

In [ ]:
print(2+3)
print(2-3)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
print(2**3)
x=3
x+=1
print(x)
x-=2
print(x)
x*=3
print(x)

# operator logika di python

In [ ]:
buah_manggis = 10
buah_mangga = 15
print(buah_manggis > 8 and buah_mangga< 20)

In [ ]:
print(buah_manggis <8 or buah_mangga > 20)

In [ ]:
print(buah_manggis < 8 or buah_mangga >20)

In [ ]:
print(not (buah_manggis <8  buah_mangga > 20))

# operator if di python

In [ ]:
nilai= float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai 8")
    print("tingkatkan prestasimu!")
if nilai>= 60 and nilai < 60:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai <= 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

In [ ]:
tinggi = float(input("Berapakah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau in i? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci"
elif cm_atau_inci.uper() == 'INCI' :
          tinggi = tinggi/0.393701
          print(f"tinggi anda adalah {tinggi} cm")

# while loop

In [ ]:
a = 0
while a < 5:
    print("Angka " + str(a)+" masih dibawah 5")
    a += 1